:root { /* variables para los colores */
    --color_text-primary: #AB29CA;
    --color_text-secundary: #101E2C;
    --color_text-tertiary: #485663;
    --main_color-primary: #701687;
    --main_color-secundary: #F4D4FB;
    --background-color: #FAFBFE;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
    --clr-main-light: #f8f7f9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

main {
    background-color: var(--clr-main-light);
    margin: 1rem;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2rem;
    padding: 3rem;
    margin-bottom: 150px;
}

.titulo__cart {
    padding-bottom: 50px;
    color: var(--main_color-primary);
    font-weight: 700;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between; /*para darle espaciado a los elementos dentro del padre*/
    align-items: center;/*centre verticalmente*/
    background-color: var(--clr-gray);
    padding: .5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto-eliminar {
    font-size: 20px;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-vacio {
    margin-bottom: 400px;
}

